@charset utf-8;
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: "微软雅黑";
}
html{
    font-size: 16px;
    font-size: 100%;
}
body{
    background-color: #000000;
}
p{
    word-wrap: break-word;
}
.node{
    text-decoration: none;
    color: #000;
}
.main{
    padding: 0 10px;
}
.header{
    background-color: #000000;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}
.logo{
    max-width: 100%;
}
.butt{
    display: inline-block;
    color: #000000;
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px 12px;
    text-decoration: none;
    border: 3px solid #f3f3f3;
    background-color: #ff6d6d;
    border-radius: 20px;
    margin: 20px 0;
}
.nav ul li{
    display: inline-block;
    width: 30%;
}
.nav ul li a{
    display: block;
    color: #ffd595;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
.point{
    padding: 1em;
    background-color: #ccc;
    margin-bottom: 1em;
    position: relative;
} 
.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right:5px; 
}
.pname{
    font-weight: bold;
    line-height: 1.5em;
    display: inline-block;
}
.ptime{
    color: #888;
    line-height: 1.5em;
    display: inline-block;
}
.pp{
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
}
.pmain{
    margin:20px 0 10px 0;
    line-height: 1.8em;
}
.towho{
    color: #FFF;
    background-color: #000000;
    padding: 2px;
    border-radius: 3px;
    margin-right: 5px;
}
.pliu{
    width: 100%;
    box-sizing: border-box;
    padding: 5px 40px 5px 5px;
    border: 1px solid #ccc;
    line-height: 20px;
}
.line{
    margin: 10px 0;
    position: relative;
    clear: both;
}
.pf a{
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px;
    float: right;
}
.zan{
    width: 12px;
}
.zzan{
    position: absolute;
    right: 60px;
    top: 10px;
    text-decoration: none;
    padding-right: 3px;
    color: #808080;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    padding: 2px;
}
.zzan a{
    text-decoration: none;
    color: #222;
}
.share{
    width: 12px;
}
.sshare{
    position: absolute;
    right: 10px;
    top: 10px;
    text-decoration: none;
    padding-right: 3px;
    color: #808080;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    padding: 2px;
}
.sshare a{
    text-decoration: none;
    color: #222;
}
.notic{
    position: fixed;
    top: 40%;
    left: 30%;
    width: 40%;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 30px;
    opacity: 0.6;
    border-radius: 10px;
    display: none;
    z-index: 999;
}
.pjiao{
    position: absolute;
    padding: 5px;
    border: 1px solid #FF7875;
    background-color: #FF7875;
    color: #fff;
    top: 0;
    right: 0;
    line-height: 20px;
    cursor: pointer;
}
.his{
    width: 100%;
    box-sizing: border-box;
    padding: 5px 50px 5px 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.hisu{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    color: #fff;
    background-color: #FF420D;
    border-radius: 5px;
    padding: 10px;
    -webkit-appearance: none;
}
.replys{
    margin-bottom: 0.5em;
    font-size: 0.8em;
    color: #5A5A5A;
}
.replyname{
    color: #0012FF;
    font-weight: bold;
}
.hidemask,.hidemask2{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    display: none;
}
.hidegaobai,.hideform{
    background: #F3F3F3;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    margin: 0 auto;
    margin-top: 20px;
}
.hidegaobaisubmit{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    color: #fff;
    background-color: #FF420D;
    border-radius: 5px;
    padding: 10px;
    -webkit-appearance: none;
}
.close{
    float: right;
    display: inline-block;
    padding: 0 5px;
    font-weight: bold;
}
.page>div{
    overflow: hidden;
}
.num,.current,.next,.end,.prev,.first{
    padding: 4px 10px;
    background-color: #FF9492;
    border-radius: 2px;
    margin-right: 2px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}
.current{
    background: #ccc;
}
.sin{
    font-size: 1.2em;
    margin: 0;
}
.sjiao{
    position: absolute;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #888;
    color: #fff;
    font-size: 1.2em;
    margin: 0;
    top: 0;
    right: 0;
    cursor: pointer;
}
.search{
    position: relative;
    top: -20px;
    display: none;
}
.about p{
    line-height: 2em;
}
.about h2{
    margin-top: 10px;
    font-weight: bold;
}
.more{
    float: left !important;
    font-size: 12px;
    color: #888;
    border: none !important;
    padding: 5px 0 !important;
    margin-top: 10px;
    display: none;
}
.footer{
    margin-top: 20px;
    text-align: center;
    line-height: 2em;
    color: #ffffff;
}
.tophead h1{
    font-size: 0.8em;
    color: #ffd595;
}
.load{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    display: none;
}
.spinner {
  margin: 200px auto;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}
.spinner > div {
  background-color: #C1FF23;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.ncmask{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    z-index: 999;
    display: none;
}
.allnotic{
    background-color: #fff;
    position: relative;
    background: #F3F3F3;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}
.cls{
    position: absolute;
    right: 10px;
    top: 5px;
    font-weight: bold;
}
.wenc{
    text-align: center;
    color: #4e4e4e;
}
